* {
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #e7f4fd;
  display: flex;
  justify-content: center;
}
.App {
  width: 70%;
  margin-top: 5rem;
}
#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
